.markdown > * {
  all: revert;
}

.markdown > p {
  white-space: pre-line;
}

.markdown ul,
.markdown ol,
.markdown li {
  white-space: normal;
}

.filter-placeholder::placeholder {
  color: #6b7280;        /* Change color */
  font-size: 0.75rem; 
}